{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["googleappsscript", "prettier"],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "assertInputSheet": "readonly",
    "assertInputSheetHeaders": "readonly",
    "assertLookupsSheet": "readonly",
    "assertLookupsSheetHeaders": "readonly",
    "compareText": "readonly",
    "display": "readonly",
    "HeadersNotFoundError": "readonly",
    "indexLookups": "readonly",
    "LookupCodeNotFoundError": "readonly",
    "normalizeCode": "readonly",
    "normalizePrice": "readonly",
    "ProductWithNoCodeError": "readonly",
    "SheetNotFoundError": "readonly"
  }
}
