{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["googleappsscript", "prettier"],
  "env": {
    "googleappsscript/googleappsscript": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
